:root {
  --color-1: #212c36;
  --color-3: #2c3743;
}

body,
p,
ul {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}


button {
  border: 0;
  cursor: pointer;
  font-family: inherit;
}

ul,
button {
  padding: 0;
}

li {
  list-style: none;
}